.left-menu {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	border-radius: .25rem;
	list-style: none;
	font-size: 14px;
	background-color: rgba(#efefef, .5);

	&__item {
		position: relative;
		display: block;
		&:first-child {
			border-radius: .25rem .25rem 0 0;
		}
		&:last-child {
			border-radius: 0 0 .25rem .25rem;
		}
		&:hover {
			background-color: rgba(#efefef, 1);
		}
		& + & {
			border-top: 1px solid #fff;
		}
		
		a {
			display: block;
			padding: .5rem .75rem;
			color: #333;
			text-decoration: none;
		}
	}
}