.top-menu_ {

	&_navbar {
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-top: 1.25rem;
		margin-bottom: 1.25rem;
		padding: 0;
		// border: 1px solid #ccc;
		border-radius: .25rem;
		background-color: #fff;
		box-shadow: 0 .5rem .5rem -.5rem rgba(#000, .5);
	}

	&_navbar-nav,
	&_auth {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;

		a {
			position: relative;
			display: inline-flex;
			margin: 0 auto;
			padding: .75rem 1rem;
			color: #333;
			text-decoration: none;
			transition: .35s;
			&:hover {
				color: #d94917;
			}

			+ a {
				margin-left: .5rem;

				&::before {
					content: '';
					position: absolute;
					top: 20%;
					left: -.25rem;
					bottom: 20%;
					width: 1px;
					height: 60%;
					background-color: #ccc;
				}
			}
		}
	}

	&_auth {
		font-size: 12px;
		a {
			padding: 15px 1rem;
		}
	}
}